.grid-title {
  font-size: 18px;
  font-weight: bold;
}
.edit-button {
  margin-right: 5px;
}
.remove-button {
}
.title-project {
  font-size: 15px;
  font-weight: bold;
}
.value-project {
  font-size: 15px;
}